#ifndef ENV
#define ENV
#define WIFI_SSID ""
#define WIFI_PASSWORD ""
#define SERIAL_BAUDRATE 9600
#define POCKETBASE_URL "https://pocketbase.io"
#define POCKETBASE_TEMPERATURE_ENDPOINT "/api/collections/temperature/records"
#define POCKETBASE_EMAIL ""
#define POCKETBASE_PASSWORD ""
#define ESP_NOW_PASSWORD ""
#endif // ENV
